<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
        body{margin:5% 20% 0% 30%;}
        </style>
    </head>
    <body>
        {% for message in get_flashed_messages() %}
        <p style="color: red;">{{ message }}</p>
        {% endfor %}

        <form method="POST">

                <div class="form-group row">
                <div class="col-xs-4">
                    <label for="first_name">First Name:</label>
                    <input class="form-control" id="first_name" name="first_name" type="text">
                </div>
                &nbsp;
                <div class="col-xs-4">
                    <label for="last_name">Last Name:</label>
                    <input class="form-control " id="last_name" name="last_name" type="text">
                </div>
                </div>
                 
                <div class="form-group row">
                <div class="col-xs-4">
                    <label for="email">Email:</label>
                    <input class="form-control" id="email" name="email" type="email">
                </div>
                </div>
                
                <div class="form-group row">
                <div class="col-xs-4">
                    <label for="email">Message:</label>
                    <textarea class="form-control" id="textarea" name="message"></textarea>
                </div>
                </div>
                 
                <div class="form-group row">
                <div class="col-xs-4">
                    <label for="email">Duration:</label>
                    <input class="form-control" id="duration" name="duration" placeholder="Enter duration as a number. for example: 3" type="text">
                </div>
                
                </div>
                 <select class="form-select form-select-sm" name="duration_unit">
                    <option value="" disabled selected>Choose the duration</option>
                    <option value="1">seconds</option>
                    <option value="2">minutes</option>
                    <option value="3">hours</option>
                </select>

            
            <br/><br/>
            <button class="btn btn-info" type="submit" name="action">Submit </button>
        </form>
        
        <script src="" async defer></script>
    </body>
</html>